*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: "Karla", sans-serif;
}
html,body{
  height : 100%;
  width : 100%;
}
::-webkit-scrollbar{
    display: none
}
a{
    text-decoration: none;
    color : #896027;    
}
.bedroom-heading{
    padding: 1em;
    display: flex;
    z-index: 5;
    height: 10vh;
    width: 100%;
    gap: 1em;
    position: fixed;
    color : #896027;    
    align-items: center;
    background-color: #F8F2EB;

}
/* page 1 starts here */
.page1{
    z-index: 1;
    padding: 1em;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F8F2EB;
}
.page1-larger-image{
    height : 90vh;
    width: 100%;
}
.page1-larger-image img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bedroom-heading p{
    font-size: 2em;
    font-weight: 500;
}
.back-button{
    font-size: 2em;
    top: 1em;
    left: 40px;
}
/* page1 ends here */

/* page 2 starts here */
.page2{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom,#F8F2EB, #E3E2DC, #D5D8D3);
}
/* page 2 ends here */


/* about starts here */
.about{
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30em;
    font-weight: 500;
    text-align: center;
}
/* about ends here */

/* page 3 starts here */
.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #D5D8D3,#C8CDCB,#C6CBC9);
}
/* page 3 ends here */

/* page 4 starts here */
.page4{
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(to bottom,#C6CBC9,#C8CDCB,#D5D8D3);
    justify-content: center;
    align-items: center;
}
/* page 4 ends here */

/* page 6 starts here */
.page5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #D5D8D3,#F8F2EB, #F8F2EB);
}
.page5-image1{
    height: 80vh;
    width: 30em;
}
.page5-image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.page5-image2{
    height: 80vh;
    width: 30em;
}
.page5-image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* page 6 ends here */

/* footer starts here */
.footer {
    background-color: #F8F2EB;
    color: #583d19;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container div {
    width: 30%;
}

.footer-about p,
.footer-contact p {
    margin: 10px 0;
    font-size: 14px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-contact a {
    display: block;
    text-decoration: none;
    color: #68491d;
}

.footer-social a {
    color: #896027;
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #f1c40f;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
}
/* footer ends here */


@media only screen and (max-width: 600px){
    .page1{
        height: 60vh;
        flex-direction: column;
    }
    /* .page1-larger-image{
        position: absolute;
        top: 10vh;
    } */
     .page1-larger-image{
        width: 90vw;
     }
    .about{
        height: fit-content;
        width: 100%;
    }
    .page2{
        height: 70vh;
        flex-direction: column-reverse;
    }
    .page3{
        height: 70vh;
        flex-direction: column;
    }
    .page4{
        height: 60vh;
        flex-direction: column-reverse;
    }
    .page5{
        padding: 1em;
        height: 180vh;
        flex-direction: column;
    }
    .page5-image1,.page5-image2{
        width: 90vw;
    }
}